* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#j-cont {
  height: auto;
  border: 1px solid red;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: rgb(142, 92, 186);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#header {
  height: 15vmin;
  width: 100%;
  position: fixed;
  background-color: #fff;
  border: 1px solid;
  z-index: 2;
  transition: all 0.2s;
}
#header #menu-ul {
  display: none;
}
#header #menu-ul li {
  display: none;
}

#give-jk {
  color: rgb(142, 92, 186);
}

#give-jk-bg {
  background-color: rgb(142, 92, 186);
}

#sec-4 {
  display: grid;
  place-items: center;
}
#sec-4 h1 {
  margin-top: 5%;
}
#sec-4 p {
  width: 70%;
  text-align: center;
  margin: 5% 0;
}
#sec-4 .btn-toggle {
  width: 60%;
  display: flex;
  height: 10vmin;
  border-radius: 50vmin;
  box-shadow: 0px 0px 12px 3px rgb(218, 218, 218);
}
#sec-4 .btn-toggle button {
  width: 100%;
  transition: all 0.5s;
  border: none;
}
#sec-4 .btn-toggle #bt-1 {
  border-radius: 5vmin 0 0 5vmin;
  background-color: rgb(142, 92, 186);
  color: white;
}
#sec-4 .btn-toggle #bt-2 {
  background-color: white;
  color: #111;
  border-radius: 0 5vmin 5vmin 0;
}
#sec-4 .coverBox {
  width: 100%;
  height: 50vh;
  display: grid;
  place-items: center;
}
#sec-4 .outBox {
  transition: all 0.4s;
  box-shadow: 0px 0px 12px 1px grey;
  height: 40vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#sec-4 .outBox h2 {
  font-size: 5vmin;
}
#sec-4 .outBox span,
#sec-4 .outBox button {
  background-color: rgb(142, 92, 186);
  color: white;
  font-size: 3.7vmin;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 3%;
  border-radius: 2vmin;
  width: 45%;
}
#sec-4 .outBox button {
  border: none;
  width: 85%;
}

.databox {
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.4s;
  justify-content: safe;
  height: 40%;
}
.databox ul {
  height: 90%;
  width: 45%;
  list-style: none;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-evenly;
}
.databox ul li {
  width: -moz-max-content;
  width: max-content;
}

#anchor {
  color: white;
  text-decoration: none;
}

#sec-5 {
  height: -moz-max-content;
  height: max-content;
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec-5 h2 {
  margin: 5% 0;
}

#ch-1, #ch-2, #ch-3, #ch-4 {
  transition: all 0.4s;
  height: 25vmin;
}

.ch-box {
  border-radius: 2vmin;
  width: 95%;
  border: 1px solid;
  border-top: 9px solid rgb(142, 92, 186);
  margin-bottom: 7%;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap-reverse;
  overflow: hidden;
}
.ch-box .ch-head {
  display: flex;
  transition: all 0.4s;
  height: 24vmin;
  border-radius: 0 0 2vmin 2vmin;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ch-box .ch-head h3 {
  margin: 5%;
  width: -moz-max-content;
  width: max-content;
  font-size: 6vmin;
}
.ch-box .ch-head img {
  width: 9vmin;
  margin-right: 5%;
}
.ch-box ul {
  transition: all 0.2s;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 5%;
  justify-content: space-evenly;
}
.ch-box ul li {
  list-style: inside;
  font-size: 5vmin;
  font-weight: 900;
}

.clrtoggle {
  background-color: rgb(142, 92, 186);
  color: white;
}

.div img {
  filter: invert(1);
  transform: rotate(180deg);
}

.jk-s-box {
  width: 80vw;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
}
.jk-s-box img {
  width: 12vmin;
}

#sec-7 {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec-7 h1 {
  color: rgb(142, 92, 186);
  margin: 0;
}
#sec-7 p {
  margin: 2% 0;
}
#sec-7 .feebox {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin-top: 3%;
  display: grid;
  place-items: center;
  overflow-x: scroll;
  padding: 5% 0;
}
#sec-7 .feebox .feeinbox {
  width: 120vw;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fee-on, .fee-off {
  color: rgb(142, 92, 186);
  border: 1px solid rgb(142, 92, 186);
  padding: 2% 0;
  background-color: #fff;
  border-radius: 3vmin;
  width: 50vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.fee-on h3, .fee-off h3 {
  text-align: center;
  border-bottom: 0.5px solid rgb(142, 92, 186);
  width: 100%;
  padding: 1% 3%;
  border-radius: 1vmin;
}
.fee-on p, .fee-off p {
  width: 80%;
  margin: 0;
}
.fee-on h2, .fee-off h2 {
  width: 80%;
}

#sec-8 {
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec-8 h1 {
  color: rgb(142, 92, 186);
}
#sec-8 h1, #sec-8 p {
  margin-top: 5%;
  width: 90%;
}
#sec-8 #applyform {
  box-shadow: 0px 0px 14px 5px rgb(216, 216, 216);
  width: 90%;
  height: 40vh;
  margin-top: 5%;
  border-radius: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 4vmin;
}
#sec-8 button {
  width: 95%;
  height: 10vmin;
  background-color: rgb(142, 92, 186);
  color: white;
  border-radius: 2vmin;
  border: none;
  font-size: 4vmin;
}

.in {
  width: 95%;
  display: flex;
  align-items: center;
}
.in label {
  display: grid;
  place-items: center;
  background-color: rgb(142, 92, 186);
  color: #fdfdfd;
  width: 30%;
  border: 1px solid;
  height: 10vmin;
  transition: 0.5s;
  border: 1px solid rgb(142, 92, 186);
  border-radius: 2vmin 0 0 2vmin;
  text-transform: capitalize;
}
.in input {
  width: 70%;
  padding-left: 1%;
  height: 10vmin;
  border-radius: 0 2vmin 2vmin 0;
  border: 1px solid rgb(142, 92, 186);
}

#footer {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin-top: 5%;
  background-color: rgb(142, 92, 186);
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding-left: 5%;
}
#footer h3, #footer h5, #footer p {
  width: 90%;
  margin-top: 5%;
}
#footer .social {
  width: 90%;
  height: 20vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}
#footer .social img {
  width: 10vmin;
}

.img-6 {
  display: grid;
  border: 1px solid;
  place-items: center;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.img-6 img {
  width: 100%;
  border-radius: 4vmin;
}

@media only screen and (min-width: 500px) {
  .jk-s-box {
    height: 70vh;
  }
  .fee-on, .fee-off {
    width: 30%;
  }
  #sec-8 #applyform {
    height: 60vh;
    width: 70vw;
  }
  #google {
    width: 30%;
  }
  #google button {
    width: 30%;
  }
}
@media only screen and (min-width: 700px) {
  #sec-8 #applyform {
    height: 60vh;
    width: 50vw;
  }
}
@media only screen and (min-width: 900px) {
  .outBox {
    height: 80vh;
  }
  #sec-4 {
    height: 90vh;
  }
  #sec-4 .coverBox {
    height: 90%;
  }
  #sec-4 .coverBox .databox {
    margin: 2% 0;
    width: 60%;
  }
  #sec-4 .coverBox .databox ul {
    font-size: 15px;
  }
  #sec-4 .coverBox .outBox {
    width: 50%;
    height: 50vh;
  }
  #sec-4 .coverBox .outBox span {
    width: 50%;
    height: 20%;
    margin: 3% 0;
  }
  #sec-4 .coverBox .outBox button {
    width: 60%;
    height: 20%;
    margin: 3% 0;
  }
}/*# sourceMappingURL=index.css.map */